@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  margin:0px;
  padding:0px;
  color:white;
  font-family: "Poppins",sans-serif;
  

}
body{
  background-color: #050817;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}
.box{
  border: 2px solid rgba(153, 151, 168,0.5);
  height:90vh;
  width:90vw;
  border-radius: 2vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  
}
#option{
  color: rgb(44, 106, 221);
  align-self: flex-start;
  position: relative;
  top:4vh;
  left:1vh;
  
}
h1{
  text-align: center;
  font-size:6vh;
  font-style: italic;
  font-family: "Nunito",Sans-Serif;
  background: linear-gradient(90deg,#FF5CA8,#2196FF);
  background-clip: text;
  webkit-background-clip: text;
  color:transparent;
  -webkit-text-fill-color: transparent;

}

hr{
  background: linear-gradient(90deg,#EC3CF7,#7bb0ed);
  height:3px;
  border:none;

  
}


.joke_box{
  height: 45%;
  width:90%;
  border: 2px solid #A855F7;
  align-self: center;
  position: relative;
  top:2vh;
  border-radius: 1vh;
  box-shadow: 0 0 15px rgba(168, 85, 247, 0.60);
  display: flex;
  flex-direction: column;
  
}
#smile{
  text-align: center;
  font-size:5vh;
}

#a{
  display: flex;
  justify-content: center;
  align-items: center;
}
#joke_t{
  font-size:3vh;
  color: #2196FF ;
}
.b{
  width:10%;
  margin-left:1vh;
  margin-right:1vh;
  background : rgba(184, 190, 211, 0.5);
  box-shadow: 0 0 15px rgba(184, 190, 211, 0.60);
  height: 2px;
  
}
#joke{
  margin: 2vh;
  text-align: center;
}
#c{
  display: flex;
  justify-content: space-evenly;
}
#next,#copy{
  height: 8vh;
  width:20vh;
  border: 1px solid #A855F7;
  box-shadow: 0 0 15px rgba(168, 85, 247, 0.60);
  border-radius: 2vh;
  background: linear-gradient(90deg,#A855F7,#2196FF);
  font-size:2.5vh;
  align-self: flex-end;
  
}
.language_box,.category_box,.share{
  position: relative;
  top:5vh;
}
.language_box,.category_box{
  display: flex;
  flex-direction: column;
  padding-left: 1.5vh;
  padding-right: 1vh;
  padding-top:1vh;
}
#d,#e{
  display: flex;
  justify-content: space-between;
}
.l,.C{
  height: 8vh;
  width: 17vh;
  border: 1px solid #B8BED3;
  box-shadow: 0 0 10px #B8BED3;
  border-radius: 2vh;
  background-color:#050817;
  font-size:2vh;
  margin-left:0.9vh;
  margin-right:0.9vh;
}
h6{
  font-size:2vh;
}

.share{
  margin-top:1.5vh;
  width: 25vh;
  height:8vh;
  border: 1px solid #B8BED3;
  box-shadow: 0 0 10px #B8BED3;
  border-radius: 2vh;
  background: linear-gradient(90deg,#A855F7,#2196FF);
  font-size:2vh;
  
}

#spin{
  
  
}

@media (orientation: landscape) {
  
}
